## -*- coding: utf-8 -*-
## base.html
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>SimpleWeb - ${self.title()}</title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css" />
        <script src="/js/jquery.min.js" /></script>
    </head>
    <body>
        <div class="header">
            <div class="header-inner">
                <h3><a href="/">Home</a> - SimpleWeb: ${self.title()}</h3>
            </div>
        </div>
        <div class="content">
            <div class="content-inner">
            ${self.body()}
            </div>
        </div>
        <div class="footer">
            <div class="footer-inner">
                <A HREF="/view_source/${controller_path[1]}">View Source</A>
            </div>
        </div>
    </body>
</html>