## -*- coding: utf-8 -*-
## base.html
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>SimpleWeb - ${self.title()}</title>
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
    </head>
    <body>
        <div class="header">
            <div class="header-inner"><h3>SimpleWeb - ${self.title()}<br><a href="/">Home</a></h3></div>

        </div>
        <div class="content">
           ${self.body()}
        </div>
        <div class="footer">
            <div class="footer-inner">Xxx</div>
        </div>
    </body>
</html>