## -*- coding: utf-8 -*-
<%inherit file="base.html" />
<%block name="title">Form</%block>

<!---  Build html from a simpler form markup -->
<% form = build_simple_form("""
<simpleform orientation="vertical">
    <input label="Name" placeholder="Type your name" type="text" view_size="6" name="name" required="1" />
    <input label="Number" placeholder="Type your number" type="number" view_size="3" name="number" required="1" />
    <input label="Submit" type="submit" view_size="1" />
</simpleform>""") %>
${form | n} <%doc>Render the form html</%doc>

<!--- Activate Browser side input validation, managed by jqBootstrapValidation -->
<%block name="script">
<script src="/js/jqBootstrapValidation.js"></script>
<script>
  $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>
</%block>